/*------------------------notes------------------------*/
/*F8E3D5
ECF5F2
F8F9F8
0B1516
D3D3D3*/

/*----------------------------------------------------*/
body {
    margin: 0;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F9F8;
    color: #2B3946;
    /*-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

section{
    max-width:100vw;
}

/*Navbar*/
.header {
    width: 100vw;
    text-align: right;
    position: fixed;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo {
    position: absolute;
    /*left: 5vw;
    padding: 2vh;*/
    margin: 5%;
    color: #0B1516;
    text-decoration: none;
    -webkit-transform: translateX(-50%) rotate(-90deg);
    transform-origin: center;
    left: 28px;
    letter-spacing: 10px;
    font-weight: bold;
    animation: fadein 2.5s;
    
}

.logo p:hover{
    /*color: #A28C7F;*/
}

/*.logo img{
    position:inherit;
    width: 2.5vw;
    width: 3vw;
}

.logo:hover .joel2:hover {
    transition: transform 0.4s;
    transform: translate(5px, 5px);
}*/

.link {
    display: inline-block;
    padding: 15px 0;
    margin: 1vh 2vw;
    position: relative;
    text-decoration: none;
    color: #2B3946;
}

.link:hover {
    bottom: 5px;
}


/*-----------------intro-----------------*/

.intro {
    padding: 0 7%;
    display: table;
    margin: 0 8%;
    max-width: 100vw;
    height: 95vh;
}

.introWrap {
    display: block;
    overflow:hidden;
}

.l1 {
    display: block;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-name: bottom-to-top;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.l2 {
    display: block;
    animation-delay: .6s;
    animation-duration: 1s;
    animation-name: bottom-to-top;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.l3 {
    display: block;
    animation-delay: .7s;
    animation-duration: 1s;
    animation-name: bottom-to-top;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.introContent {
    display: table-cell;
    vertical-align: middle;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.introContent h1 {
    font-size: 2.3em;
    font-weight: 900;
    letter-spacing: 3px;
    color:#2B3946;
}

.introContent p {
    font-size: 1.2em;
    font-weight: bold;
    color: #2B3946;
}

.introMA {
    color: #46938b;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.introMA:hover{
    background-color: #e5f3f1;
}

.introID {
    color: #467593;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.introID:hover {
    background-color: #e1ebf1;
}

.sideID {
    width: 15vw;
    height: 1vh;
    background-color: #2B3946;
    line-height: 1em;
    position: fixed;
    left: 0;
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(-90deg);
    transform-origin: center;
    left: 28px;
    letter-spacing: 5px;
    font-weight: bold;
}

.minimalScrollsec {
    text-align: center;
    margin: 0 0 4%;
    animation: fadein 2.5s;
}

.minimalScrollsec a{
    text-decoration:none;
    color: #2B3946;
    font-size: 15px;
    letter-spacing: 2px;
    animation: fadein 2.5s;
}

.minimalScrollsec a:hover{

}

/*about*/
.about {
    background-color: #D3D3D3;
    padding: 10%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
}

.about h2{
    font-size: 2em;
}


.about p {
    font-size: 1.1em;
    max-width: 50%;
    line-height: 2em;
}

.about a{
    text-decoration: none;
    color: #0B1516;
    font-weight:bold;
    display: inline-block;
}

.about a:hover{
    color: #ECF5F2;
}

.about a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ECF5F2;
    transition: width .3s;
}

.about a:hover::after {
    width: 100%;
}

.about img{
    width: 40%;
    float:right;
}


/*-----------------Work-----------------*/
.work {
    padding: 10%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
}

.work h2 {
    font-size: 2em;
}

.projects {
    padding: 5%;
}

.prjContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    /*grid-template-rows: 95%;*/
    grid-row-gap: 2em;
    grid-column-gap: 2em;

}

.prjImg {
    width: 100%;
}

.prjInfo{
    max-width: 90%;
    line-height: 1.3em;

}

.prjInfo a{
    font-weight: bold;
}

.gitLinks {
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    color: #0B1516;
}

.gitLinks::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000000;
    transition: width .3s;
}

.gitLinks:hover::after {
    width: 100%;
}

.prjend{
    text-align:center;
}

.prjimgcontainer {
    overflow: hidden;
    display:grid;
}

.prjContainer img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.prjContainer:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/*-----------------Contact-----------------*/
.contact {
    background-color: #D3D3D3;
    padding: 10%;
    margin: 0;
    max-width: none;
    /*height: 100vh;*/
    align-self: center;
    text-align: center;
}

.footerlinks {
    display: inline-block;
    font-size: 1.8rem;
    margin: 30px;
    padding: 5px;
}

.footerlinks a{
    margin: 15px 20px;
    text-decoration: none;
    color: black;
}

.footerlinks a:hover{
    color: dimgrey;
}

.ending{
    font-size: small;
}



